<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/bootstrap/bootstrap.less")">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Git Review</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
